*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(233, 248, 248);
   
}
.card{
    background-color: black;
    color: white;
}
h5{
    color: rgb(0, 255, 221);
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

#all{
    margin-top: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width:576px){
    .row{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .card-body{
        width: 30px;
    }
    
}
@media only screen and (max-width:1451px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .card-body{
        width: 150px;
    }
    
}
/* @media only screen and (max-width: 500px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .card-body{
        width: 150px;
    }
    
        
    
    
} */